.home-page{
    height: 80dvh;
}
.home-page h1{
    font-size: 3rem;
}
input{
    border: 2px solid gray;
    width: 30rem;
    display: block;
    border-radius: 5px;
    margin: 1rem;
    height: 2rem;
    font-size: 14px;
    padding: 2px 6px;
}